<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Admin Dashboard: {{ pageTitle }}</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a [routerLink]="['/admin-dashboard']">Dashboard</a></li>
            <li class="breadcrumb-item active">{{ pageTitle }}</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 col-xs-12 col-12 ">
          <div class="card card-danger">
            <div class="card-header">
              <h3 class="card-title">{{ pageTitle }} List</h3>
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <ngx-datatable tableClass="table table-striped table-bordered table-hover" [data]="allMandateList" [columns]="columns" [options]="options">
                <ngx-caption>
                  <div class="row">
                    <div class="col-sm-6 col-xs-6 col-6 ">

                    </div>
                    <div class="col-sm-6 col-xs-6 col-6  text-right">
                    </div>
                  </div>
                </ngx-caption>

                <ng-template #addressTpl let-row let-rowIndex="rowIndex" let-columnValue="columnValue">

                </ng-template>
                <ng-template #idTpl let-rowIndex="rowIndex" let-row="row">
                  {{rowIndex+1}}
                </ng-template>

                <ng-template #isApprovedTpl let-row let-rowIndex="rowIndex" let-columnValue="columnValue">
                  <span class="badge" [ngClass]="(columnValue == '1') ? 'bg-success' : 'bg-danger'">{{columnValue | toTrue }}</span>
                </ng-template>

                <ng-template #startDateTpl let-row let-rowIndex="rowIndex" let-columnValue="columnValue">
                  {{ columnValue | date: 'dd-MM-yyyy' }}
                </ng-template>

                <ng-template #endDateTpl let-row let-rowIndex="rowIndex" let-columnValue="columnValue">
                  {{ columnValue | date: 'dd-MM-yyyy' }}
                </ng-template>

                <ng-template #paymentFrequencyTpl let-row let-rowIndex="rowIndex" let-columnValue="columnValue">
                  <span class="badge" [ngClass]="(columnValue == '1') ? 'bg-success' : (columnValue == '2') ? 'bg-info' : 'bg-warning'">{{columnValue | paymentFrequency }}</span>
                </ng-template>

                <ng-template #amountTpl let-row let-rowIndex="rowIndex" let-columnValue="columnValue">
                  {{ columnValue | currency: 'N' }}
                </ng-template>

                <ng-template #actionTpl let-row let-rowIndex="rowIndex" let-columnValue="columnValue">
                  <a class="btn btn-primary btn-sm" (click)="viewMandateData(row)">
                    View
                  </a>
                </ng-template>

              </ngx-datatable>
            </div>
          </div>
        </div>
      </div>
    </div><!--/. container-fluid -->
  </section>
</div>


