<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Admin Dashboard: {{ pageTitle }}</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a [routerLink]="['/admin-dashboard']">Dashboard</a></li>
            <li class="breadcrumb-item active">{{ pageTitle }}</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 col-xs-12 col-12 ">
          <div class="card card-danger">
            <div class="card-header">
              <h3 class="card-title">{{ pageTitle }} List</h3>
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <ngx-datatable tableClass="table table-striped table-bordered table-hover" [data]="allMerchantList" [columns]="columns" [options]="options">
                <ngx-caption>
                  <div class="row">
                    <div class="col-sm-6 col-xs-6 col-6 ">

                    </div>
                    <div class="col-sm-6 col-xs-6 col-6  text-right">
                      <button type="button" (click)="addNewMerchant()"
                       class="btn btn-primary">
                                    <i class="fa fa-plus" aria-hidden="true"></i> Add New Merchant
                      </button>
                    </div>
                  </div>
                </ngx-caption>

                <ng-template #addressTpl let-row let-rowIndex="rowIndex" let-columnValue="columnValue">

                </ng-template>
                <ng-template #idTpl let-rowIndex="rowIndex" let-row="row">
                  {{rowIndex+1}}
                </ng-template>

                <ng-template #mobileNumberTpl let-row let-rowIndex="rowIndex" let-columnValue="columnValue">
                  {{columnValue?.mobile_number || 'N/A'}}
                </ng-template>

                <ng-template #notificationRequiredTpl let-row let-rowIndex="rowIndex" let-columnValue="columnValue">
                  <span class="badge" [ngClass]="(columnValue == '1') ? 'bg-success' : 'bg-danger'">{{columnValue | toTrue }}</span>
                </ng-template>

                <ng-template #merchantStatusTpl let-row let-rowIndex="rowIndex" let-columnValue="columnValue">
                  <span class="badge" [ngClass]="(columnValue == '1') ? 'bg-success' : 'bg-danger'">{{columnValue | toStatus }}</span>
                </ng-template>

                <ng-template #actionTpl let-row let-rowIndex="rowIndex" let-columnValue="columnValue">
                  <a class="btn btn-primary btn-sm" (click)="viewMerchantData(merchantDetail, row)">
                    <i class="fa fa-eye" aria-hidden="true"></i> View
                  </a>&nbsp;
                <!--
                  <a class="btn btn-info btn-sm" (click)="editMerchantData(row)">
                    Edit
                </a>
                <a class="btn btn-danger btn-sm" href="javascript:void(0)" (click)="removeCountryModal(rowIndex) ">
                    Delete
                </a>-->
                </ng-template>

              </ngx-datatable>
            </div>
          </div>
        </div>
      </div>
    </div><!--/. container-fluid -->
  </section>
  <!-- /.content -->
</div>

<ng-template #merchantDetail>
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title pull-left">Merchant Detail</h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="onClose()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body" *ngIf="merchantList != undefined">
      <div class="row">
        <div class="col-md-6">
          User Name: <strong>{{ merchantList.user.user_name || 'N/A' }}</strong>
        </div>
        <div class="col-md-6">
          Merchant Name: <strong>{{ merchantList.merchant_name || 'N/A' }}</strong>
        </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        Account No.: <strong>{{ merchantList.account_number || 'N/A' }}</strong>
      </div>
      <div class="col-md-6">
        Mobile No.: <strong>{{ merchantList.user?.mobile_number || 'N/A' }}</strong>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        Charges Required:
        <span *ngIf="merchantList.charge_required === 1" class="badge bg-success">True</span>
        <span *ngIf="merchantList.charge_required === 0" class="badge bg-danger">False</span>
      </div>
      <div class="col-md-6">
        Who To Charge:
        <span *ngIf="merchantList.who_to_charge === 0" class="badge bg-danger">None</span>
        <span *ngIf="merchantList.who_to_charge === 1" class="badge bginfo">Merchant</span>
        <span *ngIf="merchantList.who_to_charge === 2" class="badge bg-warning">Customer</span>
        <span *ngIf="merchantList.who_to_charge === 3" class="badge bg-success">Both</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        Charge Mode:
        <span *ngIf="merchantList.charge_mode === 1" class="badge bg-info">Fixed</span>
        <span *ngIf="merchantList.charge_mode === 2" class="badge bg-warning">Percentage</span>
      </div>
      <div class="col-md-6">
        <span *ngIf="merchantList.charge_mode === 1">Amount: <strong>{{ merchantList?.charge_value || 'N/A' }}</strong></span>
        <span *ngIf="merchantList.charge_mode === 2">Percentage (%): <strong>{{ merchantList?.charge_percent || 'N/A' }}</strong></span>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" id="cancelCreate" class="btn btn-secondary" data-dismiss="modal" (click)="onClose()">Close</button>
    </div>
    </div>
  </div>
</ng-template>

