<aside class="main-sidebar sidebar-dark-danger elevation-4">
  <!-- Brand Logo -->
  <a [routerLink]="['/']" class="brand-link">
    <img src="assets/img/zenith_bank_logo.png" alt="Zenith Bank Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">ZMandate</span>
  </a>
  <div class="sidebar">
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="info">
        <a href="#" class="d-block">{{ getUserName() }}</a>
      </div>
    </div>
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <a [routerLink]="['/merchant-dashboard']" routerLinkActive="active" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Dashboard
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/merchant-dashboard/profile']" routerLinkActive="active" class="nav-link">
            <i class="nav-icon fas fa-user"></i>
            <p>
              Profile
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/merchant-dashboard/mandate-list']" routerLinkActive="active" class="nav-link">
            <i class="nav-icon fas fa-edit"></i>
            <p>
              Mandates
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/merchant-dashboard/mandate-schedules']" routerLinkActive="active" class="nav-link">
            <i class="nav-icon far fa-calendar-alt"></i>
            <p>
              Mandate Schedules
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="pages/calendar.html" class="nav-link">
            <i class="nav-icon fas fa-users"></i>
            <p>
              Mandates By Customer
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/merchant-dashboard/reports']" routerLinkActive="active" class="nav-link">
            <i class="nav-icon fas fa-chart-pie"></i>
            <p>
              Report & Analytics
            </p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
