<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Merchant Dashboard: {{ pageTitle }}</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a [routerLink]="['/merchant-dashboard']">Dashboard</a></li>
            <li class="breadcrumb-item active">{{ pageTitle }}</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 col-xs-12 col-12 ">
          <div class="card card-danger">
            <div class="card-header">
              <h3 class="card-title">{{ advanceSearch }}</h3>
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-4 col-xs-6 col-6 ">
                  <div class="form-group">
                    <label for="fullname">Full Name:</label>
                    <input type="text" autocomplete="off" class="form-control" id="fullname"
                      [(ngModel)]="selectedFullName" (input)="onMerchantUserSearch()" placeholder="Full Name" />
                  </div>
                </div>
                <div class="col-sm-4 col-xs-6 col-6 ">
                  <div class="form-group">
                    <label for="user_name">User Name:</label>
                    <input type="text" autocomplete="off" class="form-control" id="user_name"
                      [(ngModel)]="selectedUserName" (input)="onMerchantUserSearch()" placeholder="Full Name" />
                  </div>
                </div>
                <div class="col-sm-4 col-xs-6 col-6 ">
                  <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="text" autocomplete="off" class="form-control" id="email" [(ngModel)]="selectedEmail"
                      (input)="onMerchantUserSearch()" placeholder="email" />
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-success" title="Export Excel Data" (click)="exportExcel()"><i
                    class="fa fa-file-excel-o" aria-hidden="true"></i> Export to Excel</button>
                <button type="button" class="btn btn-success" title="Print PDF Data" (click)="generatePdf()"><i
                    class="fa fa-file-pdf-o" aria-hidden="true"></i>
                  Export to PDF</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-xs-12 col-12 ">
          <div class="card card-danger">
            <div class="card-header">
              <h3 class="card-title">{{ pageTitle }} List</h3>
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <ngx-datatable tableClass="table table-striped table-bordered table-hover" [data]="allMerchantUsersList"
                [columns]="columns" [options]="options">
                <ngx-caption>
                  <div class="row">
                    <div class="col-sm-6 col-xs-6 col-6 ">

                    </div>
                    <div class="col-sm-6 col-xs-6 col-6  text-right">
                      <button type="button" (click)="addNewMerchantUser()" class="btn btn-primary">
                        <i class="fa fa-plus" aria-hidden="true"></i> Add New User
                      </button>
                    </div>
                  </div>
                </ngx-caption>

                <ng-template #addressTpl let-row let-rowIndex="rowIndex" let-columnValue="columnValue">

                </ng-template>
                <ng-template #idTpl let-rowIndex="rowIndex" let-row="row">
                  {{rowIndex+1}}
                </ng-template>

                <ng-template #userNameTpl let-row let-rowIndex="rowIndex" let-columnValue="columnValue">
                  {{columnValue?.user_name || 'N/A'}}
                </ng-template>

                <ng-template #fullNameTpl let-row let-rowIndex="rowIndex" let-columnValue="columnValue">
                  {{columnValue?.fullname || 'N/A'}}
                </ng-template>

                <ng-template #emailTpl let-row let-rowIndex="rowIndex" let-columnValue="columnValue">
                  {{columnValue?.email || 'N/A'}}
                </ng-template>

                <ng-template #mobileNumberTpl let-row let-rowIndex="rowIndex" let-columnValue="columnValue">
                  {{columnValue?.mobile_number || 'N/A'}}
                </ng-template>

                <ng-template #isMerchantAdminTpl let-row let-rowIndex="rowIndex" let-columnValue="columnValue">
                  <span class="badge" [ngClass]="(columnValue == '1') ? 'bg-success' : 'bg-danger'">{{columnValue |
                    toTrue }}</span>
                </ng-template>

                <ng-template #actionTpl let-row let-rowIndex="rowIndex" let-columnValue="columnValue">
                  <a class="btn btn-primary btn-sm" (click)="viewMerchantData(merchantDetail, row)">
                    <i class="fa fa-eye" aria-hidden="true"></i> View
                  </a>&nbsp;
                  <!--
                  <a class="btn btn-info btn-sm" (click)="editMerchantData(row)">
                    Edit
                </a>
                <a class="btn btn-danger btn-sm" href="javascript:void(0)" (click)="removeCountryModal(rowIndex) ">
                    Delete
                </a>-->
                </ng-template>

              </ngx-datatable>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/. container-fluid -->
  </section>
  <!-- /.content -->
</div>

<ng-template #merchantDetail>
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title pull-left">User Detail</h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="onClose()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body" *ngIf="merchantUserList != undefined">
      <div class="row">
        <div class="col-md-12">
          Full Name: <strong>{{ merchantUserList.user?.fullname || 'N/A' }}</strong>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          User Name: <strong>{{ merchantUserList.user.user_name || 'N/A' }}</strong>
        </div>
        <div class="col-md-6">
          Is Admin?:
          <span *ngIf="merchantUserList.is_merchant_admin === true" class="badge bg-success">True</span>
          <span *ngIf="merchantUserList.is_merchant_admin === false" class="badge bg-danger">False</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          Email: <strong>{{ merchantUserList.user?.email || 'N/A' }}</strong>
        </div>
        <div class="col-md-6">
          Mobile No.: <strong>{{ merchantUserList.user?.mobile_number || 'N/A' }}</strong>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="cancelCreate" class="btn btn-secondary" data-dismiss="modal"
          (click)="onClose()">Close</button>
      </div>
    </div>
  </div>
</ng-template>
